h1 {
    color: black;
    font-family:'Times New Roman', Times, serif;
    background-color: white;
    border: 10px solid black;
    padding: 40px;
}


h2 {
    color: black;
    font-family:'Times New Roman', Times, serif;
    margin-left: 50px;
}

.nav {
    background-color: transparent; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    padding: 3px;
  }

img {
    width: 25%;
    height: 25%;
    margin-left: 75px;
}

h5 {
    color: black;
    font-family:'Times New Roman', Times, serif;
    margin-left: 75px;
}
