h1 {
    color: black;
    font-family: 'Inconsolata', monospace;
    background-image: url("white.gif");
    padding: 40px;
    max-width: 750px;
    border-style: outset;
}


h2 {
    color: black;
    font-family: 'Inconsolata', monospace;
    background-image: url("white.gif");
    font-size: 30px;
    padding: 10px;
    max-width: 810px;
    text-align: center;
    border-style: outset;
}

h3 {
    color: black;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    max-width: 650px;
}
h5 {
    color: black;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

p {
    color: black;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    max-width: 800px;
    border-color: black;
}
.nav {
    background-color: transparent; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
.nav li {
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    padding: 3px;
    color: blue;
  }

a:link {
    color: blue;
  }

a:visited {
    color: blue;
  }

a:hover {
    color: blue;
  }

a:active {
    color: blue;
  }

.div1 {
    opacity: 1;
    max-width: 800px;
    border-style: outset;
    padding: 2px;
    margin: auto;
    position: relative;
  }

#page-wrapper {
  border: 5px double black;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  min-height: 680px;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

html, body {
  margin: 0;
  padding: 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
  background-image: url("background.gif");
  background-color: grey;
}

.formatted-list {
    list-style-position: inside;
    list-style-type: square;
    color: black;
    margin: 0 auto;
    display: table;
    width: fit-content;
    font-family: 'Inconsolata', monospace;
  }
  
.formatted-list li {
    display: list-item;
  }



  