
h1 {
    color: white;
    background-color: black;
    font-family: 'Luminaria', fantasy;
    padding: 20px;
    max-width: 500px;
    text-align: center;
}


h2 {
    color: white;
    background-color: black;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    padding: 10px;
    max-width: 750px;
    text-align: center;
}

h3 {
    color: white;
    background-color: black;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    max-width: 650px;
}
h5 {
    color: white;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

p {
    color: white;
    background-color: black;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    max-width: 800px;
    border-color: black;
}
.nav {
    background-color: transparent; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
.nav li {
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    padding: 3px;
    color: black;
  }

a:link {
    color: white;
  }

a:visited {
    color: white;
  }

a:hover {
    font-style: italic;
    color: #953553;
  }

a:active {
    color: #953553;
  }

a.current {
  color: #953553;
  font-weight: bold;
}

.div1 {
    opacity: 1;
    max-width: 800px;
    padding: 2px;
    margin: auto;
    font-family: 'Inconsolata', monospace;
    position: relative;
    
  }
  .div2 {
    opacity: 1;
    max-width: 700px;
    padding: 1px;
    margin: auto;
    font-family: 'Inconsolata', monospace;
    position: relative;
    
  }


.div3 {
  opacity: 1;
  border: 2px double black;
  max-width: 950px;
  padding: 1px;
  margin: auto;
  font-family: 'Inconsolata', monospace;  
}

#page-wrapper {
  border: 5px double white;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  min-height: 680px;
  background-color: black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

html, body {
  margin: 0;
  padding: 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
  background-color: black;
  color: white;
}


  table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
  }

  
  .formatted-list {
    list-style-position: outside;
    list-style-type: square;
    color: white;
    margin: 0;
    padding-left: 20px;
    display: block;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}

.formatted-list li {
    display: list-item;
  }

  .list-container {
    max-width: 810px;
    margin: 0;
    padding-left: 30px;
  }


  img {
    display: block;
    object-fit: contain;
  }

  td {
    width: 50%; 
    vertical-align: top; 
  }
  td img {
    max-width: 100%;
    height: auto;
  }
  .responsive_iframe {
    width: 100%;
    border: 0px;
    height: 300px;
  }

* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}


@media (max-width: 600px) {

  .nav li {
    font-size: 20px;
  }

  table,
  tr,
  td {
    margin: 0 auto;
    display: block;
    width: 100%;   /* make image fill the container */
    height: auto;  /* keep aspect ratio */
    max-width: 100%; 
  }

  td img {
    margin: 0 auto;
    align-items: center;
    width: fit-content;
  }

  .name {
    width: 100%;
    max-width: 100%;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  td:nth-child(1) {
    order: 1;
  }

  td:nth-child(2) {
    order: 2;
  }
}


  